*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

body{
    background:#0f172a;
    color:white;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
    background:#1e293b;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:50px;
}

.logo span{
    font-size:24px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:120px 20px;
}

.hero h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
}

.hero-list{
    margin-top:30px;
}

.hero-list p{
    margin:10px;
}

.btn{
    display:inline-block;
    margin-top:30px;
    background:#22c55e;
    color:white;
    text-decoration:none;
    padding:15px 40px;
    border-radius:10px;
}

.features{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:50px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:12px;
    text-align:center;
}

.predict-container{
    width:60%;
    margin:100px auto;
    text-align:center;
}

.predict-container h1{
    margin-bottom:40px;
}

input[type=file]{
    width:100%;
    padding:20px;
    background:white;
    margin-bottom:20px;
}

button{
    background:#22c55e;
    color:white;
    border:none;
    padding:15px 40px;
    border-radius:10px;
    cursor:pointer;
}

.result-container{
    width:70%;
    margin:50px auto;
    text-align:center;
}

.result-image{
    width:350px;
    margin:20px 0;
    border-radius:10px;
}

.info-box{
    background:#1e293b;
    padding:25px;
    margin-top:25px;
    border-radius:12px;
}

.info-box ul{
    list-style:none;
    margin-top:10px;
}

.info-box li{
    margin:10px;
}